body {
  background-image: url("../assets/tic-tac-toe.png");
}

.Logo {
  width: 60%;
  border-radius: 8px;
}

.side-bar {
  background-color: #254d32;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  padding: 100px 0px 100px 0px;
}

.sidebar-brand-text {
  font-size: 30px;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 70px;
  color: #c86779;
  font-weight: bolder;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: rgb(69, 16, 16);
  display: flex;
  justify-content: center;
  padding-top: 70px;
}

h2 {
  font-family: monospace;
  font-size: 28px;
  color: #c2334d;
  font-weight: bold;
}

.subheading {
  display: flex;
  justify-content: center;
}

.btn-group {
  display: flex;
  justify-content: center;
  gap: 27px;
  padding: 0px 315px;
  font-family: monospace;
}

.btn-search-form-submit {
  display: flex;
  flex-direction: column;
}

.ReservationsBanner,
.TablesBanner,
.NoReservationsFoundBanner,
.FoundBanner {
  width: 84%;
}

.table-list-container,
.reservation-list-container,
.search-form {
  background-color: rgb(247, 243, 243);
  padding: 20px 20px 0px 20px;
}

.table-and-reservation-containers,
.search-container,
.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservations-categories-row,
.tables-categories-row {
  font-family: monospace;
  color: #254d32;
  text-shadow: 1px 2px #d0db97;
  font-size: 18px;
}

.tables-body,
.reservations-body {
  font-family: Calibri;
  font-size: 15px;
}

.search-form {
  width: 50%;
}

.seat-form {
  font-family: monospace;
}

label {
  font-family: monospace;
  color: #254d32;
  text-shadow: 1px 2px #d0db97;
  font-size: 18px;
}

.seat-reservation-page {
  align-items: center;
}

.seat-form {
  padding: 10px;
}
/* <span className="oi oi-magnifying-glass" />
              &nbsp;Search */
/* the second oi can be replaced with link to add the little icon */
